@import 'variables';
@import 'fonts';
@import 'fa/fontawesome';
@import 'fa/solid';

body {
    background: map-get($colors, "white");
    font-size: 14px;
    font-family: 'Droid Sans', sans-serif;
    div {position: relative;}
}

a {
    &.navbar-brand {
        max-width: 160px;
    }
}
.logo{
    max-width: 160px;
}

.bg-light {
     background: map-get($colors,'white') !important;
 }
    ul {
        padding: 0;
        margin: 0;
        
        &.main-navigation{
            display: block;
            
            li {
               

            &.nav-item{
                display: inline-block;
                 @media screen and (max-width: 992px){
                    display: block;
                    text-align: right;
                }
                &.active {
                    .nav-link{
                        color: map-get($colors , 'secondary' );
                        
                    }
                    
                }
                a{
                    &.nav-link{
                        padding: 5px 15px;
                        text-transform: uppercase;
                        font-weight: 400;
                        @media screen and (max-width: 992px){
                               padding: 14px 0px;
                     }
                    }
                }
                }
             }
        }
        
        &.footerSocials{
            li {
                display: inline-block;
                a {
                    padding: 10px;
                    color: #fff;
                    &:hover{
                        color: map-get($colors , 'secondary' );
                    }
                }
            }
        }
        
    }

    #slider{
        .col{
            padding: 0;
        }
    }
    .section{
        padding: 60px 0;
    }
    .footer {
        background: map-get($colors,'primary');
        color: map-get($colors,'white');
        p {
            color: map-get($colors , 'grey' );
            a {
                color: map-get($colors , 'secondary' )
            }
        }
        .btn {
            border-radius: 0;
            padding: 0.375rem 1rem;
            background: map-get($colors ,'secondary' );
            color: map-get($colors, 'white' );
            &:hover{
                background: map-get($colors ,'secondary' );
            }
        }
    }

    // forms
    .form-control{
        border-radius: 0;
        height: calc(1.5em + 1rem + 2px);
        
    }


// responsive
@media screen and (max-width: 992px){

}
    