$colors: (
    "primary": #04091e,
    "secondary": #8490ff,
    "white": #ffffff,
    "grey": #777,
);


// responsive breakpoints
$bp-desktop-qhd: 2560px;
$bp-desktop-hd: 1920px;
$bp-desktop: 1600px;
$bp-tab-lg: 1024px;
$bp-tab: 768px;
$bp-mobile: 576px;
$bp-mobile: 480px;
$bp-mobile-iphone7: 375px;
$bp-mobile-android: 360px;